// font family Marck Script
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

$font: 'Marck Script', cursive;

body {
  background-color: rgb(252, 252, 247);
}

h1 {
  font-family: $font;
  font-weight: normal;
}

small{
  font-family: $font;
  font-weight: bold; 
  font-size: 25px;
}

.main {
  display: grid;
  width: 100vw;
  height: 80vh;
  grid-template: 1fr 1fr / 0.5fr ;
  gap:10px;
  grid-template-areas: "quote"
                       "author" ;
  justify-content: center;
  align-items: center;
}

.quote {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.author { 
  display: flex;
  justify-content: flex-end;
  height: 100%;
}